body  { font-family: Helvetica; background-color: lightgrey;}
li    { display: inline; padding: 0px 15px; line-height: 10px;} 
.name {
            font-size: 300%; 
            padding: 20px;
      }
.nav  { 
            color: #a55a56;
            text-transform: capitalize;
            font-size: 100%
      }

.tabContent  { 
            color: #a55a56;
            text-transform: capitalize;
            font-size: 100%
      }